*

!.gitignore
!.gitattributes
!build.rs
!assets/
!assets/**/*
!crates/
!crates/**/*
!docs/
!docs/**/*
!src/
!src/**/*
!tests
!tests/**/*
!xtask/
!xtask/**/*
!Cargo.lock
!Cargo.toml
!README.md
!LICENSE
!THIRD_PARTY_NOTICES
!.rustfmt.toml
