*

!.github/
!.github/**/*
!.gitignore
!.gitattributes
!build.rs
!assets/
!assets/**/*
!crates/
!crates/**/*
!docs/
!docs/**/*
!scripts/
!scripts/**/*
!src/
!src/**/*
!tests
!tests/**/*
!Cargo.lock
!Cargo.toml
!justfile
!README.md
!LICENSE
!THIRD_PARTY_NOTICES
!.rustfmt.toml
